.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.dashed-border {
  background: linear-gradient(90deg, rgba(0, 0, 255, 0.5) 50%, transparent 50%),
    linear-gradient(90deg, rgba(0, 0, 255, 0.5) 50%, transparent 50%),
    linear-gradient(0deg, rgba(0, 0, 255, 0.5) 50%, transparent 50%),
    linear-gradient(0deg, rgba(0, 0, 255, 0.5) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size:
    15px 2px,
    15px 2px,
    2px 15px,
    2px 15px;
  background-position:
    0px 0px,
    154px 93px,
    0px 93px,
    154px 0px;
  padding: 5px;
  animation: border-dance 0.75s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position:
      left top,
      right bottom,
      left bottom,
      right top;
  }
  100% {
    background-position:
      left 14px top,
      right 14px bottom,
      left bottom 14px,
      right top 14px;
  }
}
